doctype html
html
  head
    title Zeppelin Test
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/stroll/css/stroll.min.css')
  body
    ul#content(class="list-unstyled "+animation)
        li#intro
            h1 Zeppelin Development
        li#about
            h1 About Us
        li#services
            h1 Our Services
        li#contact
            h1 Contact Us

    #backButton
        a(href="/") <-- Back

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/stroll/js/stroll.min.js")
    script(src="/js/site.js")