doctype html
html
  head
    title Zeppelin Test
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/stroll/css/stroll.min.css')
  body
    .container
        .row
            .col-sm-6
                h1 Different Animations

                ul.list-unstyled
                    - each view in animations
                        li
                            a(href="/"+view)= view
            .col-sm-6
                h1 Demo Version

                ul.list-unstyled
                    li
                        a(href="/demo1") Demo 1
                    li
                        a(href="/demo2") Demo 2


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/site.js")