doctype html
html
  head
    title Zeppelin Test
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/stroll/css/stroll.min.css')
  body
    .container
        h1 Different Animations

        ul.list-unstyled
            - each view in animations
                li
                    a(href="/"+view)= view

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/site.js")