@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900|Merriweather+Sans);
@import "../vendor/bootstrap/less/bootstrap";

@font-family-sans-serif: 'Lato', sans-serif;

@headings-font-family: 'Merriweather Sans', sans-serif;
@headings-font-weight: 900;

@well-bg: fadeout(#939393, 20%);

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;


// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

@navbar-default-color:             #777;
@navbar-default-bg:                transparent;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #484848;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #484848;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #ccc;
@navbar-default-toggle-border-color:       #ddd;






@btn-primary-color:              #fff;
@btn-primary-bg:                 #353535;
@btn-primary-border:             #353535;




// Forms
// -------------------------

@input-bg:                       #353535;
@input-bg-disabled:              @gray-lighter;

@input-color:                    #fff;
@input-border:                   #353535;
@input-border-radius:            @border-radius-base;
@input-border-focus:             #66afe9;

@input-color-placeholder:        #ccc;

@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

@input-group-addon-bg:           @gray-lighter;
@input-group-addon-border-color: @input-border;


html, html a {
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


html, body {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

#backButton {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #000;
}




@brand1: #f9ec23;

@btn-default-border: #fff;

.btn {
    font-family: @font-family-sans-serif;
    font-weight: 900;
    padding: 10px;
}

.btn-default:hover {
    background-color: @brand1;
    border-color: @brand1;
}

nav.navbar {
    z-index: 1000;
    width: 100%;
    top: 100%;
    position: absolute;

    &.pinned {
        position: fixed;
        top: 0;
    }

    a {
        text-transform: uppercase;
        font-weight: 300;
    }
}

#intro {
    position: relative;
    background: @brand1;
    height: 92% !important;

    .down-arrow {
        background: bottom center url('../img/down-arrow.png') no-repeat;
        background-size: contain;
        width: 100%;
        height: 120px / 2.5;
        position: absolute;
        bottom: 30px;
        left: 0;
        .transition(all .07s linear);

        &:hover {
            height: 120px / 2;
        }
    }
}

#quotes {
    background-image: url('../img/freight-bldg.jpg');
    background-size: cover;
    color: #fff;

    blockquote {
        border-left: none;
        font-family: @headings-font-family;

        p {
            font-size: 60px;
        }

        cite {
            color: #fff;
            font-size: 40px;
        }
    }
}

#about {
    background: #7e7e7e;
    color: #000;

    .lead {
        color: @brand1;
        line-height: 1.5;
        margin-bottom: 60px;
        font-size: 22px;
    }

    p {
        line-height: 1.5;
    }
}

#projects {
    background: #fff;

    a {
        color: #000;
        font-size: 40px;
        font-family: @headings-font-family;

        &:hover {
            color: @brand1;
            text-decoration: none;
        }
    }

    .drawer {
        h1 {
            font-size: 220px;

        }
    }
}

#contact {
    background: #7e7e7e;
    color: #fff;

    address {
        font-size: 30px;
        font-family: @headings-font-family;
    }

    .map-padding-fix {
        padding-bottom: 30px;
    }

    .map {
        position: relative;
        background: @brand1;
        margin-left: 10px;
        margin-top: 10px;
        height: 450px;
        padding-bottom: 40px;

        iframe {
            position: absolute;
            top: -10px;
            left: -10px;
        }
    }
}

.full-height {
    height: 100%;
}



.drawer {
    display: none;

    h1 {
        color: @brand1;
    }
}

#drawerBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.taxi1 {
        background-image: url('../img/taxi1.jpg') !important;
        background-size: cover !important;
    }
    &.taxi2 {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.freight {
        background-image: url('../img/freight.jpg') !important;
        background-size: cover !important;   
    }
    &.drive1 {
        background-image: url('../img/drive1.jpg') !important;
        background-size: cover !important;   
    }
    &.drive2 {
        background-image: url('../img/drive2.jpg') !important;
        background-size: cover !important;   
    }
    &.diesel {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.bioDiesel {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.source {
        background-image: url('../img/source.jpg') !important;
        background-size: cover !important;   
    }
    &.greenhouse {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.volkerLofts {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.grandCherokee {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }
    &.citySpirit {
        background-image: url('../img/cityspirit.jpg') !important;
        background-size: cover !important;   
    }
    &.freightResidences {
        background-image: url('../img/taxi2.jpg') !important;
        background-size: cover !important;   
    }

}

table.vertical-center, table.vertical-center tr, table.vertical-center tr td {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.well {
    border: none;
    .box-shadow(none);
    color: #fff;
    font-weight: 400;
    width: 600px;
}

@media (min-width: @screen-sm-min){
    #content {
        overflow: scroll;
        
        > li {
            height: 100%;
            padding: 20px;
            position: relative;
        }
    }

    .stack {
        height: 400% !important;

        > li {
            width: 100%;
        }

        .pinned {
            position: fixed !important;
            top: 0 !important;
        }

        #intro {
            position: absolute;
            top: 0;
            z-index: 2000;
        }

        #quotes {
            position: absolute;
            top: 100%;
            z-index: 4;
        }

        #about {
            position: absolute;
            top: 200%;
            z-index: 15;
        }

        #projects {
            position: absolute;
            top: 300%;
            z-index: 20;
        }

        #contact {
            position: absolute;
            top: 400%;
            z-index: 25;
        }
    }
}